/* khmer */

@font-face {
    font-family: 'Nokora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nokora Regular'), local('Nokora-Regular'), url(http://feedback.local/library/fonts/hYkIPuwgTubzaWxgNzAOkvY.woff2) format('woff2');
    unicode-range: U+1780-17FF, U+200C, U+25CC;
}


/* cyrillic-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url(http://feedback.local/library/fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

@font-face {
    font-family: 'Pero Regular';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Pero-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Pero Bold';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Pero-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'Moul';
    src: url('http://feedback.local/library/fonts/Moul-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Nokora';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Nokora-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Bayon-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Content Bold';
    font-style: Bold;
    font-weight: 700;
    src: url('http://feedback.local/library/fonts/Content-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'Content';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Content-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Moul';
    font-style: normal;
    font-weight: 400;
    src: url('http://feedback.local/library/fonts/Moul-Regular.ttf') format('woff2');
}