html {
    background: #fff;
    padding: 0;
    margin: 0 auto;
    font-size: 14px
}

img.main-logo {
    width: 130px;
    margin-top: 3em
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: .9;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased
}

.material-icons.big {
    font-size: 40px;
    color: green
}

div.main-wrapper {
    color: rgba(0, 0, 0, .8);
    margin: 10px 0
}

html {
    background: -webkit-linear-gradient(rgba(243, 242, 242, .98), rgba(241, 240, 240, .98)), url(http://feedback.local/images/2ndbackground.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed
}

.filter-section {
    margin: 3rem 0 1rem 0
}

div.main-wrapper .center-container,
div.main-wrapper .sidebar-right {
    background-color: #4db84812;
    border: 1px solid #4db848
}

.center-container blockquote {
    font-size: 1.2rem;
    color: #ee6e73;
    margin: 2.2rem 0 0
}

.center-container blockquote.moul_font {
    font-family: moul;
    font-size: 1.8rem
}

h5.sub_title {
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 7rem;
    display: inline-block;
    background: #cbe3c5;
    padding: 8px
}

nav.top-navbar ul li a {
    color: #4db848
}

table tbody>tr>td>i.material-icons.done {
    color: #4db848;
    margin-top: 9px
}

table tbody>tr>td>i.material-icons.pending {
    color: #f0ad4e;
    margin-top: 9px
}

table tbody>tr>td>i.material-icons.fail {
    color: #ec0808;
    margin-top: 9px
}

nav.top-navbar ul li a:hover {
    background: #4db848;
    color: #fff
}

.main-wrapper div.sidebar-right {
    padding: 10px
}

body,
button,
html,
input,
optgroup,
select,
textarea {
    font-family: Content, Roboto, sans-serif
}

.container {
    background: rgba(97, 187, 70, .2);
    padding: 0 10px 0 10px;
    border: 1px solid rgba(97, 187, 70, 1)
}

.container .row:nth-child(3) {
    padding: 0;
    margin-bottom: 0
}

footer.page-footer,
footer.page-footer .footer-copyright {
    background: 0 0;
    padding: 0 10px
}

.picker {
    outline: 0
}

.material-icons.active {
    color: rgba(97, 187, 70, 1)
}

.material-icons.disactive {
    color: #ec1e1e
}

.picker__weekday-display {
    background-color: #ec1e1e;
    font-weight: 600
}

.picker__date-display {
    background-color: #7986cb
}

.picker__nav--prev:hover {
    background-color: #fff3e0
}

.picker__nav--next:hover {
    background-color: #fff3e0
}

.picker__nav--prev:before {
    border-left: 0;
    border-right: .75em solid #0f74bd
}

.picker__nav--next:before {
    border-right: 0;
    border-left: .75em solid #0f74bd
}

.picker__today {
    color: #7986cb
}

.picker__close {
    color: #ee6e73
}

.btn-flat.picker__today:active {
    background-color: #fff3e0
}

.btn-flat.picker__close:active {
    background-color: #fff3e0
}

.btn-flat.picker__clear:active {
    background-color: #fff3e0
}

.btn:disabled,
.btn[disabled] {
    background-color: transparent!important
}

.dropdown-trigger .more-dotted {
    color: #4db848;
    margin-right: 5px;
    background: #cbe3c5;
    border-radius: 50%;
    padding: 7px
}

.dropdown-trigger .more-dotted[disabled] {
    background-color: #dedede
}

.dropdown-trigger .more-dotted[disabled] {
    color: #9e9e9e99
}

#read-unread li button[disabled] {
    cursor: pointer;
    padding: 0 5px;
    color: #dedede;
    background: 0 0;
    border: none
}

#read-unread button[disabled],
#read-unread li button[disabled],
.btn:disabled i.btn-excel,
.btn[disabled] i.btn-excel {
    color: #dedede
}

#read-unread li button {
    cursor: pointer;
    padding: 0 5px;
    color: #4db848;
    background: 0 0;
    border: none
}

.picker__select--month.browser-default {
    display: inline;
    background-color: #fff;
    width: 34%;
    border: none;
    outline: 0
}

.picker__day--infocus:hover {
    color: #f57c00
}

.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
    color: #f5f4f3;
    font-weight: 700
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
    color: #f57c00
}

.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted {
    background-color: transparent
}

.picker__day.picker__day--today {
    color: #4db848;
    font-weight: 700
}

.material-icons .left {
    margin-right: 5px
}

h4.title {
    color: green;
    font-weight: 700
}

input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-field .prefix.active,
.prefix.active,
input:not([type]):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, .87)
}

.input-field .list li.item label {
    color: rgba(0, 0, 0, .87)
}

.prefix.rejected {
    color: #ee6e73;
    background-color: #ee6e73
}

nav.nav {
    width: 99.8%;
    margin: 0 auto
}

div.footer-wrapper,
nav.nav {
    background-color: #4db848;
    box-shadow: none
}

div.footer-copyright {
    padding: 0 10px
}

footer.page-footer {
    margin: 0 auto;
    padding-top: 0
}

ul.side-nav {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    color: #4db848
}

table tbody tr td,
table.responsive-table thead tr th {
    padding: 2px 5px
}

ul.pagination {
    padding: 0;
    margin: 0
}

ul.list {
    padding: 15px 0
}

table tbody>tr>td>span.one-row-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 25px
}

ul.list>li.sidebar-item {
    margin: 1px 0
}

ul.list>li.sidebar-item a {
    margin: 1px;
    color: rgba(97, 187, 70, 1);
    padding: 8px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
    display: block
}

.reload-page {
    background: #cbe3c5;
    padding: 5px 4px;
    border-radius: 10px;
    border: 1px solid #4db848;
    cursor: pointer
}

.branch_status.active {
    background: #cbe3c5;
    padding: 5px 4px;
    border-radius: 10px;
    border: 1px solid #4db848;
    cursor: unset
}

.search-row {
    padding: 10px 0
}

#btn-export-service-checking,
#btn_regional_branch_filter,
a.btn-addnew {
    padding: 5px;
    margin-top: 1.5rem;
    height: 2.9rem;
    margin-left: 10px
}

.service_checking_new_staff .input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-20px) scale(1);
    transform: translateY(-20px) ​ scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.service_checking_new_staff input:not([type]),
.service_checking_new_staff input[type=date]:not(.browser-default),
.service_checking_new_staff input[type=datetime-local]:not(.browser-default),
.service_checking_new_staff input[type=datetime]:not(.browser-default),
.service_checking_new_staff input[type=email]:not(.browser-default),
.service_checking_new_staff input[type=number]:not(.browser-default),
.service_checking_new_staff input[type=password]:not(.browser-default),
.service_checking_new_staff input[type=search]:not(.browser-default),
.service_checking_new_staff input[type=tel]:not(.browser-default),
.service_checking_new_staff input[type=text]:not(.browser-default),
.service_checking_new_staff input[type=time]:not(.browser-default),
.service_checking_new_staff input[type=url]:not(.browser-default),
.service_checking_new_staff textarea.materialize-textarea {
    border: 1px solid #9e9e9e
}

.service_checking_new_staff .input-field.col label {
    left: 1rem;
    top: -4px
}

#btn_regional_branch_filter i.material-icons.left {
    margin-right: 5px
}

.search-report-form,
.search-report-form>.row {
    padding-bottom: 0;
    margin-bottom: 0;
    display: block
}

form.search-report-form .select-wrapper input {
    background: 0 0;
    border: 1px solid #9e9e9e;
    height: 30px
}

html {
    --scrollbarBG: #cbe3c5;
    --thumbBG: #238a04
}

body::-webkit-scrollbar {
    width: 15px
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG)
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG)
}

form.search-report-form label [type=checkbox]+span:not(.lever) {
    padding-left: 2rem
}

.reload-text {
    display: block;
    margin-top: 8px
}

.branch_status.inactive {
    background: #c5202038;
    padding: 5px 4px;
    border-radius: 10px;
    border: 1px solid #ec0808a6;
    cursor: unset;
    color: #ec0808a6
}

.green-text {
    color: #4db848
}

ul.list>li.sidebar-item .logout-button {
    height: 3rem;
    width: 3rem;
    margin-top: -2.8rem
}

table tbody tr td a {
    color: rgb(0 0 0 / 70%)
}

table.report-list tbody tr td a {
    width: 100%;
    display: block
}

table.report-list tbody tr td:nth-child(7) a {
    width: 100%;
    display: inline
}

#notice_category {
    padding: 15px 10px;
    max-height: 100%
}

ul.list li.item-list {
    font-size: 16px;
    margin: 15px 0;
    overflow: hidden
}

ul.list li.item-list:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #ee6e73;
    float: left;
    margin-top: 11px
}

#notice_category p {
    float: right;
    width: 77%;
    margin: 0
}

#seperator {
    height: 1px;
    background-image: linear-gradient(#23721f, #40a53b), linear-gradient(#40a53b, #53be4d), linear-gradient(#53be4d, #8ad885), linear-gradient(#8ad885, #8ad885);
    background-size: calc(1 * (100% / 4)) 100%, calc(2 * (100% / 4)) 100%, calc(3 * (100% / 4)) 100%, calc(4 * (100% / 4)) 100%;
    background-repeat: no-repeat
}

#notice_category strong {
    margin: 0 10px;
    font-weight: 700
}

#notice_category .modal-content {
    line-height: 30px
}

ul.table-of-contents li.active,
ul.table-of-contents li:hover {
    border: none;
    background: rgba(97, 187, 70, .15)
}

ul.table-of-contents a {
    padding-left: 5px
}

ul.table-of-contents a:hover {
    padding-left: 5px
}

ul.table-of-contents li.active>a {
    color: #238a04
}

ul.table-of-contents li.sidebar-item a:hover,
ul.table-of-contents li.sidebar-item:hover {
    border: none;
    color: rgba(97, 187, 70, 1)
}

ul.table-of-contents li>a.addnew:hover,
ul.table-of-contents li>a.logout:hover {
    border-left: none;
    color: red
}

ul.table-of-contents li {
    padding: 0
}

ul.table-of-contents li>a.addnew {
    height: 2.6rem;
    width: 2.6rem;
    margin-top: -2.7rem
}

table tr td .permamently_delete_report i.fa-trash-o,
table tr td .reload_report i.fa-refresh {
    font-size: 18px
}

ul.table-of-contents li>a.addnew>i {
    border-radius: 50%;
    color: #fff;
    background: rgba(97, 187, 70, 1);
    border: 0
}

ul.table-of-contents li>a.addnew>i:hover {
    color: rgba(97, 187, 70, 1);
    background-color: #fff;
    box-shadow: 1px 2px 5px #9e9e9e
}

table.highlight thead tr:nth-child(1) th,
table.highlight thead tr:nth-child(2) th {
    padding: 8px 5px
}

table.highlight thead tr:nth-child(2) th:nth-child(1) {
    width: 3%
}

table.highlight thead tr:nth-child(2) th:nth-child(2) {
    width: 25%
}

table.highlight thead tr:nth-child(2) th:nth-child(3) {
    width: 15%
}

table.highlight thead tr:nth-child(2) th:nth-child(4) {
    width: 15%
}

table.highlight thead tr:nth-child(2) th:nth-child(5) {
    width: 10%
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%
}

.btn-pdf,
.select-wrapper span.caret {
    color: #4db848!important
}

[type=checkbox]+label,
table.highlight thead tr:nth-child(2) td label {
    color: rgba(0, 0, 0, .87);
    height: 16px
}

[type=checkbox]:checked+label::before {
    border-right: 2px solid #4db848;
    border-bottom: 2px solid #4db848
}

table.highlight tfoot tr td:last-child {
    text-align: center
}

.centered {
    text-align: center
}

.card .card-title {
    font-size: 2rem
}

table.highlight tbody tr td.detail {
    cursor: pointer
}

table.responsive-table tbody tr td.detail:hover {
    text-decoration: underline;
    color: red
}

.progress {
    background-color: #f2b01d
}

.btn,
.progress .indeterminate {
    background-color: #4db848;
    padding: 0 1rem
}

.btn:focus,
.btn:hover {
    background-color: #4db848;
    box-shadow: none
}

.prefix.cancel {
    color: #ee6e73
}

.autocomplete-content {
    position: absolute
}

div.in-progress {
    color: #f2b01d
}

.approved,
div.approved {
    color: #4db848
}

.rejected,
div.rejected {
    color: #ee6e73
}

.material-tooltip .backdrop {
    background-color: rgba(242, 176, 29, .9);
    padding: 8px 5px
}

.btn-export-excel,
.btn-export-excel .btn-excel {
    color: #4db848
}

.btn.active {
    background-color: #f57c00
}

.select-wrapper ul.dropdown-content {
    width: 100%;
    text-align: left;
    float: left
}

.dropdown-content li {
    min-height: 30px
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 5px
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: rgba(0, 0, 0, .87)
}

.dropdown-content li:hover {
    background: 0 0;
    color: #4db848
}

.dropdown-content li:hover span {
    color: #4db848
}

.dropdown-content li:hover a {
    color: #4db848
}

[type=checkbox]+label:before,
[type=checkbox]:not(.filled-in)+label:after {
    border: 1px solid #4db848
}

.btn-pdf,
span.caret {
    color: #ee6e73!important
}

ul.dropdown-content li.active span {
    color: #4db848
}

table tr td.label {
    font-weight: 700;
    color: #4db848
}

table tr td.data {
    color: #fff
}

table.bordered>tbody>tr,
table.bordered>thead>tr {
    border-bottom: 0
}

table thead tr:nth-child(2) {
    background: rgba(97, 187, 70, .2);
    color: #4db848;
    border: 1px solid #4db848!important
}

table thead tr th:last-child() {
    background: rgba(97, 187, 70, .2);
    color: #4db848;
    border: 1px solid #4db848!important
}

table tbody tr.not-ready {
    font-weight: 700
}

ul li.badge-message a:hover,
ul li.badge-message:hover {
    background: 0 0
}

select.browser-default {
    background: 0 0;
    border: 1px solid #9e9e9e
}

input#beginDate,
input#endDate {
    border-bottom: 1px solid rgba(97, 187, 70, .5)
}

div.nav-wrapper .brand-logo {
    padding: 0 8px
}

input[name=buildDate].invalid~label:after,
input[name=buildDate]:focus.invalid~label:after {
    content: attr(data-error);
    color: #f44336;
    opacity: 1
}

input[name=buildDate]:focus~label:after,
input[name=buildDate]~label:after {
    display: block;
    content: "";
    position: absolute;
    top: 36px;
    opacity: 0;
    white-space: pre;
    transition: .2s opacity ease-out, .2s color ease-out
}

input[type=text].invalid~label:after {
    content: attr(data-error);
    color: #f44336;
    opacity: 1;
    position: absolute;
    top: 3em;
    white-space: nowrap;
    display: block
}

input:not([type]),
input[type=date]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=search]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea.materialize-textarea {
    height: 1.6em;
    padding: 5px;
    margin: 11px 0 0 0
}

.input-field select {
    height: 2.4em
}

textarea.materialize-textarea {
    padding: 0;
    margin: 0;
    display: block;
    width: 102%
}

.character-counter {
    min-height: 0
}

.btn,
.btn-flat,
.btn-floating,
.btn-large {
    font-size: 20 1rem
}

form.change_password .input-field>input[type=text]:not(.browser-default),
form.change_password.input-field>.select-wrapper input.select-dropdown,
form.editreport_branch .input-field>.select-wrapper input.select-dropdown,
form.editreport_branch .input-field>input[type=text]:not(.browser-default),
form.editreport_callcenter .input-field>.select-wrapper input.select-dropdown,
form.editreport_callcenter .input-field>input[type=text]:not(.browser-default),
form.editreport_callcenter.input-field>.select-wrapper input.select-dropdown,
form.editreport_social .input-field>.select-wrapper input.select-dropdown,
form.editreport_social .input-field>input[type=text]:not(.browser-default),
form.login-form .input-field input[type=text]:not(.browser-default),
form.newreport_branch .input-field>.select-wrapper input.select-dropdown,
form.newreport_branch .input-field>input[type=text]:not(.browser-default),
form.newreport_callcenter .input-field>.select-wrapper input.select-dropdown,
form.newreport_callcenter .input-field>input[type=text]:not(.browser-default),
form.newreport_social .input-field>.select-wrapper input.select-dropdown,
form.newreport_social .input-field>input[type=text]:not(.browser-default),
input:not([type]),
input[type=date]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=search]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea.materialize-textarea {
    padding: 5px;
    border: 1px solid #9e9e9e
}

input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #4db848;
    -webkit-box-shadow: none;
    box-shadow: none
}

input:not([type]):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, .87)
}

label {
    text-align: left
}

h1.indigo-text {
    font-family: Content, Roboto, sans-serif;
    font-size: 2rem;
    color: #3f51b5!important;
    margin: 15px 0;
    text-align: center
}

.form-wrapper hr {
    width: 15%;
    border: 0;
    border-top: 4px solid #3f51b5;
    margin: 15px 15px 2rem 0
}

div.form-wrapper {
    display: inline-block;
    padding: 1em 2.5em;
    background: -webkit-linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .5));
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .5))
}

#addnewfeedback {
    -webkit-box-shadow: -1px 0 18px 2px rgba(102, 102, 102, .76);
    -moz-box-shadow: -1px 0 18px 2px rgba(102, 102, 102, .76);
    box-shadow: -1px 0 18px 2px rgba(102, 102, 102, .76);
    margin: 15px 0
}

textarea#issue_detail,
textarea#solution {
    min-height: 100px
}

#notice_category .modal .modal-content {
    width: 70%;
    margin: 0 auto
}

.modal.modal-fixed-footer .modal-content {
    height: 100%
}

.modal.modal-service-checking {
    height: auto;
    max-height: 90%;
    min-height: 80%;
    top: 5%!important
}

.modal.modal-add-new-staff {
    height: auto;
    max-height: 90%;
    min-height: 50%;
    top: 5%!important
}

#search_date {
    border: 1px solid #9e9e9e;
    margin-top: 1px;
    height: 30px
}

#staff_checking_status>div.success {
    background-color: #4db8483d;
    padding: 5px;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 1.2rem;
    float: left;
    margin: 1rem 10px;
    border: 1px solid #287925
}

#staff_checking_status>div.success span {
    color: #287925;
    margin-top: 5px;
    display: table
}

#staff_checking_status>div.fail {
    background-color: #f569643d;
    padding: 5px 10px;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 1.2rem;
    float: left;
    margin: 1rem 10px;
    border: 1px solid #942525
}

#staff_checking_status>div.fail span {
    color: #942525;
    margin-top: 5px;
    display: table
}

#staff_checking_status .success i.done {
    margin-right: 5px
}

.service-quality-check-list tbody tr.total-row {
    background: rgba(97, 187, 70, .2);
    color: #4db848;
    border: 1px solid #4db848!important;
    font-size: 15px;
    font-weight: 700
}

ul.dropdown-content.select-dropdown {
    z-index: 9999
}

.confirmation-btns>button {
    color: #fff;
    background: #4db848;
    margin: 0 5px
}

.result-status p {
    padding: 0;
    margin: 0
}

.done,
.done:after,
.result-status p span.done,
.result-status p span.done:after {
    color: #4db848
}

.pending,
.pending:after,
.result-status p span.pending,
.result-status p span.pending:after {
    color: #f0ad4e
}

.fail,
.fail:after,
.result-status p span.fail,
.result-status p span.fail:after {
    color: #ec0808
}

.result-status p span.pending,
.result-status p span.pending:after {
    color: #f0ad4e
}

.result-status p span.fail,
.result-status p span.fail:after {
    color: #ec0808
}

.result-status p input[type=radio].with-gap:checked+span.done:before,
.result-status p input[type=radio]:not(:checked)+span.done:before,
[type=radio]:not(:checked)+span.done:after {
    border: 2px solid #4db848
}

.result-status p input[type=radio].with-gap:checked+span.pending:before,
.result-status p input[type=radio]:not(:checked)+span.pending:before,
[type=radio]:not(:checked)+span.pending:after {
    border: 2px solid #f0ad4e
}

.result-status p input[type=radio].with-gap:checked+span.fail:before,
.result-status p input[type=radio]:not(:checked)+span.fail:before,
[type=radio]:not(:checked)+span.fail:after {
    border: 2px solid #ec0808
}

.result-status p input[type=radio].with-gap:checked+span.done:after {
    background-color: #4db848;
    border: 2px solid #4db848
}

.result-status p input[type=radio].with-gap:checked+span.pending:after {
    background-color: #f0ad4e;
    border: 2px solid #f0ad4e
}

.result-status p input[type=radio].with-gap:checked+span.fail:after {
    background-color: #ec0808;
    border: 2px solid #ec0808
}

.datepicker-date-display {
    background-color: #4db848
}

.text-green {
    color: #4db848
}

.timepicker-modal .timepicker-canvas line {
    stroke: #4db848;
    stroke-width: 4;
    stroke-linecap: round
}

.timepicker-modal .timepicker-canvas-bearing,
.timepicker-modal .timepicker-canvas-bg {
    fill: #4db848
}

span.error,
span.form-error {
    color: #d8000c;
    position: absolute;
    right: 0
}

form#change_password span.error {
    color: #d8000c;
    position: absolute;
    right: 0;
    top: 3rem
}

span.required {
    content: " *";
    color: red
}

[type=radio]:checked+span,
[type=radio]:not(:checked)+span {
    padding-left: 25px
}

.datepicker-table td.is-today {
    color: #4db848
}

.dropdown-content li>a,
.dropdown-content li>span,
.select-wrapper input.select-dropdown,
input:not([type]),
input[type=date]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=search]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea.materialize-textarea {
    font-size: 14px;
    margin: 0;
    padding-left: 5px
}

span.add-title {
    font-size: 1.8rem;
    color: #4db848;
    text-align: center;
    line-height: 4
}

.datepicker-footer {
    margin-top: 5px
}

.datepicker-footer .confirmation-btns>button:nth-child(1) {
    margin: 0 10px
}

form.editreport_branch .row,
form.editreport_callcenter .row,
form.editreport_social .row,
form.newreport_branch .row,
form.newreport_callcenter .row,
form.newreport_social .row {
    margin: 20px 0
}

form.editreport_callcenter input,
form.editreport_social input,
form.newreport_branch input,
form.newreport_callcenter input,
form.newreport_social input {
    border: 1px solid #9e9e9e
}

form.change_password .input-field>label,
form.editreport_branch .input-field.col label,
form.editreport_callcenter .input-field.col label,
form.editreport_social .input-field.col label,
form.filter-form .input-field>label,
form.login-form .input-field>label,
form.newreport_branch .input-field.col label,
form.newreport_callcenter .input-field.col label,
form.newreport_social .input-field.col label {
    left: 1.2rem;
    top: -.15rem
}

form.filter-form .input-field.col>.select-wrapper>input[type=text],
form.filter-form .input-field.col>input[type=text],
form.filter-form .input-field.col>select {
    border: 1px solid #9e9e9e
}

form.filter-form .input-field>label {
    top: -6px
}

form.filter-form .input-field:nth-child(1)>label {
    left: .75rem
}

form.filter-form .input-field:nth-child(1)>label.active {
    left: 0
}

form.filter-form .input-field>label.active {
    left: 10px;
    font-size: 16px
}

form.login-form .input-field.col input[type=text] {
    border: 1px solid #9e9e9e
}

form.change_password .input-field>label.active,
form.editreport_branch .input-field>label.active,
form.editreport_callcenter .input-field>label.active,
form.editreport_social .input-field>label.active,
form.newreport_branch .input-field>label.active,
form.newreport_callcenter .input-field>label.active,
form.newreport_social .input-field>label.active {
    top: -10px;
    font-size: 16px;
    left: 10px
}

form.login-form .input-field>label.active {
    top: -5px;
    font-size: unset;
    left: 10px
}

.datepicker-table td.is-selected {
    background-color: #4db848;
    color: #fff
}

table.admin-table thead tr:nth-child(1),
table.list-authen thead tr:nth-child(1) {
    background: rgba(97, 187, 70, .2);
    color: #4db848;
    border: 1px solid #4db848!important
}

[type=checkbox]:not(.filled-in)+span:not(.lever):after,
table tbody tr td input[type=checkbox]+span:not(.lever):before,
table thead tr th input[type=checkbox]+span:not(.lever):before {
    border: 1px solid #ee6e73;
    margin-top: 5px
}

[type=checkbox]+span:not(.lever):before,
[type=checkbox]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid #ee6e73
}

a.logout {
    color: rgba(255, 0, 0, .514)
}

table tbody tr td {
    border: 1px dotted #4db848
}

table tbody tr.read-items td {
    font-weight: lighter
}

table tbody tr.unread-items td {
    font-weight: 700
}

table.report-list {
    margin: 10px 0
}

table.report-list tbody tr {
    cursor: pointer
}

table.report-list tbody tr td a,
table.report-list tbody tr td span>a {
    padding: 0 5px
}

table.report-list tbody tr:hover {
    background-color: rgba(242, 242, 242, .8)
}

table.report-list tbody tr.pagination,
table.report-list tbody tr.pagination>td {
    color: #4db848;
    border: none;
    border-top: 1px solid #4db848!important;
    padding-top: .5rem
}

.pagination li.disabled.active>a {
    color: #fff
}

.pagination li a {
    font-size: 1rem
}

.pagination li a:focus,
.pagination li a:hover {
    color: #ee6e73
}

tr.pagination td ul.pagination li {
    border-radius: 50%
}

div.view-grid-col .result {
    background-color: #ee6e7298;
    color: #fff
}

.center-container div.status-row {
    height: 50px;
    margin: 0;
    padding: 0
}

#read-unread.dropdown-content {
    width: 150px!important;
    padding: 5px 0!important
}

button.btn_submit_update:focus,
button.btn_submit_update:hover {
    background-color: #4db848
}

button.btn-export-excel,
button.btn-floating:focus,
button.btn-large:focus,
button.btn-small:focus,
button.btn:focus {
    background: 0 0;
    background-color: transparent;
    box-shadow: none;
    color: #4db848;
    border: none
}

#btn_regional_branch_filter,
.btn-primary.btn-addnew,
.btn-report,
button#btn-export-service-checking {
    background: 0 0;
    background-color: #fff;
    box-shadow: none;
    color: #4db848;
    border: 1px solid #4db848;
    margin-left: 5px;
    padding: 1px 1.5rem
}

.btn-primary.btn-addnew:focus,
.btn-primary.btn-addnew:hover,
a.btn-report:focus,
a.btn-report:hover,
button#btn-export-service-checking:focus,
button#btn-export-service-checking:hover,
button#btn_regional_branch_filter:focus,
button#btn_regional_branch_filter:hover {
    background-color: #4db848;
    color: #fff
}

.modal-content [type=radio]:not(:checked)+span:before,
.modal-content[type=radio]:not(:checked)+span:after,
.newsuggestion [type=radio]:not(:checked)+span:after,
.newsuggestion [type=radio]:not(:checked)+span:before {
    border: 1px solid #4db848
}

.modal-content [type=radio].with-gap:checked+span:after,
.modal-content [type=radio]:checked+span:after,
.newsuggestion [type=radio].with-gap:checked+span:after,
.newsuggestion [type=radio]:checked+span:after {
    background-color: #4db8489e
}

.modal-content [type=radio].with-gap:checked+span:after,
.modal-content [type=radio].with-gap:checked+span:before,
.modal-content [type=radio]:checked+span:after,
.newsuggestion [type=radio].with-gap:checked+span:after,
.newsuggestion [type=radio].with-gap:checked+span:before,
.newsuggestion [type=radio]:checked+span:after {
    border: 1px solid #4db848
}

.modal-content .row {
    margin-bottom: 10px
}

.suggestion_title:nth-child(1) {
    margin-bottom: 1.5rem
}

.suggestion_title {
    font-size: 1.3rem;
    color: #4db848;
    margin: 0;
    margin: .5rem 0
}

.newsuggestion ul.list {
    padding: 0;
    margin: 0
}

.newsuggestion ul li label [type=checkbox]+span:not(.lever) {
    padding-left: 30px
}

ul.list li.item {
    line-height: 3rem
}

ul.list li.item label {
    margin: 0 1.2rem
}

ul.list li.item>span {
    float: right
}

@media only screen and (min-width:1360px) {
    .container {
        width: 80%
    }
}

@media only screen and (min-width:993px) {
    .container {
        width: 100%
    }
}