/* ===================================================================================
 *
 * Datepicker with style and language customized to any language!
 * Custom Example - Language Portuguese (Brazil) and orange theme
 * Visit: http://materializecss.com/ 
 * 
 * Author: Frederico S. Rocha
 * Contact: @fredsrocha
 * License: The MIT License (MIT)
 *
 * ===================================================================================
 */


/* fallback */

html {
    background: #ffffff;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
}

html {
    --scrollbarBG: #cbe3c5;
    --thumbBG: #238a04;
}

img.main-logo {
    width: 130px;
    margin-top: 3em;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0.9;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons.big {
    font-size: 40px;
    color: green;
}

div.main-wrapper {
    color: rgb(0 0 0 / 67%);
    margin: 10px 0;
}

html {
    background: -webkit-linear-gradient(rgba(243, 242, 242, 0.98), rgba(241, 240, 240, 0.98)), url('http://feedback.local/images/2ndbackground.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.filter-section {
    margin: 3rem 0 1rem 0;
}

div.main-wrapper .sidebar-right,
div.main-wrapper .center-container {
    background-color: #4db84812;
    border: 1px solid #4db848;
}

.center-container blockquote {
    font-size: 1.2rem;
    color: #ee6e73;
    margin: 2.2rem 0 0;
}

nav.top-navbar ul li a {
    color: #4db848;
}

table tbody>tr>td>i.material-icons.done {
    color: #4db848;
    margin-top: 9px;
}

table tbody>tr>td>i.material-icons.pending {
    color: #e98008;
    margin-top: 9px;
}

table tbody>tr>td>i.material-icons.fail {
    color: #ec0808;
    margin-top: 9px;
}

nav.top-navbar ul li a:hover {
    background: #4db848;
    color: #ffffff;
}


/* div.main-container {
    border-left: 1px solid #4db848;
} */

.main-wrapper div.sidebar-right {
    padding: 10px;
}

html,
body,
button,
input,
optgroup,
select,
textarea {
    font-family: "Khmer OS Content", Roboto, sans-serif;
}

.container {
    background: rgba(97, 187, 70, 0.2);
    padding: 0 10px 0 10px;
    border: 1px solid rgba(97, 187, 70, 1);
}

.container .row:nth-child(3) {
    padding: 0;
    margin-bottom: 0;
}

footer.page-footer,
footer.page-footer .footer-copyright {
    background: transparent;
    padding: 0 10px;
}

.picker {
    outline: none;
}

.material-icons.active {
    color: rgba(97, 187, 70, 1);
}

.material-icons.disactive {
    color: rgb(236, 30, 30);
}


/* Optional feature */


/* Header - Day of the week */

.picker__weekday-display {
    background-color: rgb(236, 30, 30);
    font-weight: 600;
}


/* Body - Today info */

.picker__date-display {
    background-color: rgb(121, 134, 203);
}


/* Buttons of actions */

.picker__nav--prev:hover {
    background-color: #fff3e0;
}

.picker__nav--next:hover {
    background-color: #fff3e0;
}

.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #0F74BD;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #0F74BD;
}

.picker__today {
    color: rgb(121, 134, 203);
}

.picker__clear {
    /* If you want to customize */
}

.picker__close {
    color: #ee6e73;
}

.btn-flat.picker__today:active {
    background-color: #fff3e0;
}

.btn-flat.picker__close:active {
    background-color: #fff3e0;
}

.btn-flat.picker__clear:active {
    background-color: #fff3e0;
}

.btn[disabled],
.btn:disabled {
    background-color: transparent !important;
}

.dropdown-trigger .more-dotted {
    color: #4DB848;
    margin-right: 5px;
    background: #cbe3c5;
    border-radius: 50%;
    padding: 7px;
}

.dropdown-trigger .more-dotted[disabled] {
    background-color: #dedede;
}

.dropdown-trigger .more-dotted[disabled] {
    color: #9e9e9e99;
}

#read-unread li button[disabled] {
    cursor: pointer;
    padding: 0 5px;
    color: #dedede;
    background: none;
    border: none;
}

.btn[disabled] i.btn-excel,
.btn:disabled i.btn-excel,
#read-unread button[disabled],
#read-unread li button[disabled] {
    color: #dedede;
}

#read-unread li button {
    cursor: pointer;
    padding: 0 5px;
    color: #4DB848;
    background: none;
    border: none;
}


/* Select months of the year */

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}


/* Every month of the year except: today */

.picker__day {
    /* If you want to customize */
}

.picker__day:hover {
    /* If you want to customize */
}

.picker__day--infocus:hover {
    color: #f57c00;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    color: #F5F4F3;
    font-weight: 700;
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
    color: #f57c00;
}


/* Today */

.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
}

.picker__day.picker__day--today {
    color: #4DB848;
    font-weight: 700;
}

.material-icons .left {
    margin-right: 5px;
}

h4.title {
    color: green;
    font-weight: bold;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    /* border-bottom: 1px solid #4DB848; */
    -webkit-box-shadow: none;
    box-shadow: none;
}

.prefix.active,
.input-field .prefix.active,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, 0.87);
}

.input-field label {
    color: rgba(0, 0, 0, 0.87);
}

.prefix.rejected {
    color: #ee6e73;
    background-color: #ee6e73;
}

nav.nav {
    width: 99.8%;
    margin: 0 auto;
}

nav.nav,
div.footer-wrapper {
    background-color: #4DB848;
    box-shadow: none;
}

div.footer-copyright {
    padding: 0 10px;
}

footer.page-footer {
    margin: 0 auto;
    padding-top: 0;
}

ul.side-nav {
    background-color: #f5f5f5;
    border: 1px solid #EEE;
    color: #4DB848;
}

table.responsive-table thead tr th,
table tbody tr td {
    padding: 2px 5px;
}

ul.pagination {
    padding: 0;
    margin: 0;
}

ul.list {
    padding: 15px 0;
}

table tbody>tr>td>span.one-row-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 2;
}

ul.list>li.sidebar-item {
    margin: 1px;
    color: rgba(97, 187, 70, 1);
    padding: 8px;
    padding-right: 5px;
    position: relative;
}

ul.table-of-contents li.active,
ul.table-of-contents li:hover {
    border: none;
    background: rgba(97, 187, 70, 0.15);
}

ul.table-of-contents a {
    padding-left: 5px;
}

ul.table-of-contents a:hover {
    padding-left: 5px;
}

ul.table-of-contents li.active>a {
    color: rgb(35, 138, 4);
}

ul.table-of-contents li>a {
    width: 100%;
}

ul.table-of-contents li.sidebar-item:hover,
ul.table-of-contents li.sidebar-item a:hover {
    border: none;
    color: rgba(97, 187, 70, 1);
}

ul.table-of-contents li>a.addnew:hover,
ul.table-of-contents li>a.logout:hover {
    border-left: none;
    color: rgb(255, 0, 0);
}

ul.table-of-contents li>a.addnew {
    height: 2.6rem;
    width: 2.6rem;
    position: absolute;
    right: 0;
}

ul.table-of-contents li>a.addnew>i {
    border-radius: 50%;
    color: #fff;
    background: rgba(97, 187, 70, 1);
    border: 0;
}

ul.table-of-contents li>a.addnew>i:hover,
ul.table-of-contents li>a.addnew>i:hover {
    color: rgba(97, 187, 70, 1);
    background-color: #FFFFFF;
    box-shadow: 1px 2px 5px #9e9e9e;
}


/* 
ul.table-of-contents li.active:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 2rem;
    float: left;
    display: table;
    margin-top: -0.8rem;
    margin-left: -0.5rem;
    transition-delay: 2;
} */

table.highlight thead tr:nth-child(1) th,
table.highlight thead tr:nth-child(2) th {
    padding: 8px 5px;
}

table.highlight thead tr:nth-child(2) th:nth-child(1) {
    width: 3%;
}

table.highlight thead tr:nth-child(2) th:nth-child(2) {
    width: 25%;
}

table.highlight thead tr:nth-child(2) th:nth-child(3) {
    width: 15%;
}

table.highlight thead tr:nth-child(2) th:nth-child(4) {
    width: 15%;
}

table.highlight thead tr:nth-child(2) th:nth-child(5) {
    width: 10%;
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%;
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%;
}


/* .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #4DB848;
    color: #4DB848;
} */

.btn-pdf,
.select-wrapper span.caret {
    color: #4DB848 !important;
}

table.highlight thead tr:nth-child(2) td label,
[type="checkbox"]+label {
    color: rgba(0, 0, 0, 0.87);
    height: 16px;
}

[type="checkbox"]:checked+label::before {
    border-right: 2px solid #4DB848;
    border-bottom: 2px solid #4DB848;
}

table.highlight tfoot tr td:last-child {
    text-align: center;
}

.centered {
    text-align: center;
}

.card .card-title {
    font-size: 2rem;
}

table.highlight tbody tr td.detail {
    cursor: pointer;
}

table.responsive-table tbody tr td.detail:hover {
    text-decoration: underline;
    color: red;
}

.progress {
    background-color: #F2B01D;
}

.progress .indeterminate,
.btn {
    background-color: #4DB848;
    padding: 0 1rem;
}

.btn:hover {
    background-color: #88BB43;
}

.prefix.cancel {
    color: #ee6e73;
}

.autocomplete-content {
    position: absolute;
}

div.in-progress {
    color: #F2B01D;
}

div.approved,
.approved {
    color: #4DB848;
}

div.rejected,
.rejected {
    color: #ee6e73;
}

.material-tooltip .backdrop {
    background-color: rgba(242, 176, 29, .9);
    padding: 8px 5px;
}

.btn-excel {
    color: #4DB848;
}

.btn.active {
    background-color: #f57c00;
}

.select-wrapper ul.dropdown-content {
    width: 100%;
    text-align: left;
    float: left;
}

.dropdown-content li {
    min-height: 30px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 5px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: rgba(0, 0, 0, 0.87);
}

.dropdown-content li:hover {
    background: transparent;
    color: #4DB848;
}

.dropdown-content li:hover span {
    color: #4DB848;
}

.dropdown-content li:hover a {
    color: #4DB848;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border: 1px solid #4DB848;
}

.btn-pdf,
span.caret {
    color: #ee6e73 !important;
}

ul.dropdown-content li.active span {
    color: #4DB848;
}

table tr td.label {
    font-weight: bold;
    color: #4DB848;
}

table tr td.data {
    color: #FFFFFF;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 0;
}

table thead tr:nth-child(2) {
    background: rgba(97, 187, 70, 0.2);
    color: #4DB848;
    border: 1px solid #4DB848 !important;
}

table thead tr th:last-child() {
    background: rgba(97, 187, 70, 0.2);
    color: #4DB848;
    border: 1px solid #4DB848 !important;
}

table tbody tr.not-ready {
    font-weight: bold;
}

ul li.badge-message:hover,
ul li.badge-message a:hover {
    background: transparent;
}

select.browser-default {
    background: transparent;
    border: 1px solid #9e9e9e;
}

input#beginDate,
input#endDate {
    border-bottom: 1px solid rgba(97, 187, 70, 0.5);
}

div.nav-wrapper .brand-logo {
    padding: 0 8px;
}

input[name="buildDate"]:focus.invalid~label:after,
input[name="buildDate"].invalid~label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

input[name="buildDate"]:focus~label:after,
input[name="buildDate"]~label:after {
    display: block;
    content: "";
    position: absolute;
    top: 36px;
    opacity: 0;
    white-space: pre;
    transition: .2s opacity ease-out, .2s color ease-out;
}

input[type=text].invalid~label:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
    position: absolute;
    top: 3em;
    white-space: nowrap;
    display: block;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    height: 1.6em;
    padding: 5px;
    margin: 11px 0 0 0;
}

.input-field select {
    height: 2.4em;
}

textarea.materialize-textarea {
    padding: 0;
    margin: 0;
    display: block;
    width: 102%;
}

.character-counter {
    min-height: 0;
}

.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
    font-size: 20 1rem;
}

input:not([type]),
form.newreport_branch .input-field>input[type=text]:not(.browser-default),
form.editreport_branch .input-field>input[type=text]:not(.browser-default),
form.newreport_social .input-field>input[type=text]:not(.browser-default),
form.editreport_social .input-field>input[type=text]:not(.browser-default),
form.newreport_callcenter .input-field>input[type=text]:not(.browser-default),
form.editreport_callcenter .input-field>input[type=text]:not(.browser-default),
form.login-form .input-field input[type=text]:not(.browser-default),
form.newreport_branch .input-field>.select-wrapper input.select-dropdown,
form.editreport_branch .input-field>.select-wrapper input.select-dropdown,
form.newreport_social .input-field>.select-wrapper input.select-dropdown,
form.editreport_social .input-field>.select-wrapper input.select-dropdown,
form.newreport_callcenter .input-field>.select-wrapper input.select-dropdown,
form.editreport_callcenter.input-field>.select-wrapper input.select-dropdown,
form.change_password.input-field>.select-wrapper input.select-dropdown,
form.change_password .input-field>input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
form.editreport_callcenter .input-field>.select-wrapper input.select-dropdown,
form.special_account_update .input-field>input[type=text]:not(.browser-default),
form.special_account_update .input-field>.select-wrapper input.select-dropdown {
    padding: 5px;
    border: 1px solid #9e9e9e;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #4DB848;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, 0.87);
}

label {
    text-align: left;
}

h1.indigo-text {
    font-family: "Khmer OS Content", Roboto, sans-serif;
    font-size: 2rem;
    color: #3f51b5 !important;
    margin: 15px 0;
    text-align: center;
}

.form-wrapper hr {
    width: 15%;
    border: 0;
    border-top: 4px solid #3f51b5;
    margin: 15px 15px 2rem 0;
}

div.form-wrapper {
    display: inline-block;
    padding: 1em 2.5em;
    background: -webkit-linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.5));
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, 0.5));
}

#addnewfeedback {
    -webkit-box-shadow: -1px 0px 18px 2px rgba(102, 102, 102, 0.76);
    -moz-box-shadow: -1px 0px 18px 2px rgba(102, 102, 102, 0.76);
    box-shadow: -1px 0px 18px 2px rgba(102, 102, 102, 0.76);
    margin: 15px 0;
}

input,
select option {
    /* font-size: 1.2rem; */
}

textarea#issue_detail,
textarea#solution {
    min-height: 100px;
}

.modal .modal-content {
    padding: 0;
}

ul.dropdown-content.select-dropdown {
    z-index: 9999;
}

.confirmation-btns>button {
    color: #ffffff;
    background: #4DB848;
    margin: 0 5px;
}

.result-status p {
    padding: 0;
    margin: 0;
}

.result-status p span.done,
.done,
.done:after,
.result-status p span.done:after {
    color: #4DB848;
}

.result-status p span.pending,
.pending,
.pending:after,
.result-status p span.pending:after {
    color: rgb(233, 128, 8);
}

.result-status p span.fail,
.fail,
.fail:after,
.result-status p span.fail:after {
    color: #ec0808;
}

.result-status p span.pending,
.result-status p span.pending:after {
    color: rgb(233, 128, 8);
}

.result-status p span.fail,
.result-status p span.fail:after {
    color: #ec0808;
}

.result-status p input[type="radio"].with-gap:checked+span.done:before,
.result-status p input[type="radio"]:not(:checked)+span.done:before,
[type="radio"]:not(:checked)+span.done:after {
    border: 2px solid #4DB848;
}

.result-status p input[type="radio"].with-gap:checked+span.pending:before,
.result-status p input[type="radio"]:not(:checked)+span.pending:before,
[type="radio"]:not(:checked)+span.pending:after {
    border: 2px solid rgb(233, 128, 8);
}

.result-status p input[type="radio"].with-gap:checked+span.fail:before,
.result-status p input[type="radio"]:not(:checked)+span.fail:before,
[type="radio"]:not(:checked)+span.fail:after {
    border: 2px solid #ec0808;
}

.result-status p input[type="radio"].with-gap:checked+span.done:after {
    background-color: #4DB848;
    border: 2px solid #4DB848;
}

.result-status p input[type="radio"].with-gap:checked+span.pending:after {
    background-color: rgb(233, 128, 8);
    border: 2px solid rgb(233, 128, 8);
}

.result-status p input[type="radio"].with-gap:checked+span.fail:after {
    background-color: #ec0808;
    border: 2px solid #ec0808;
}

.datepicker-date-display {
    background-color: #4db848;
}

.text-green {
    color: #4db848;
}

.timepicker-modal .timepicker-canvas line {
    stroke: #4db848;
    stroke-width: 4;
    stroke-linecap: round;
}

.timepicker-modal .timepicker-canvas-bearing,
.timepicker-modal .timepicker-canvas-bg {
    fill: #4db848;
}

span.error,
span.form-error {
    color: #D8000C;
    position: absolute;
    right: 0;
}

form.special_account_update span.error,
form.special_account_update span.form-error {
    color: #D8000C;
    position: absolute;
    top: 10px;
}

form#change_password span.error {
    color: #D8000C;
    position: absolute;
    right: 0;
    top: 3rem;
}

span.required {
    content: " *";
    color: red;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    padding-left: 25px;
}

.datepicker-table td.is-today {
    color: #4db848;
}

.select-wrapper input.select-dropdown,
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 14px;
    margin: 0;
    padding-left: 5px;
}

span.add-title {
    font-size: 1.8rem;
    color: #4db848;
    text-align: center;
    line-height: 4;
}

.datepicker-footer {
    margin-top: 5px;
}

.datepicker-footer .confirmation-btns>button:nth-child(1) {
    margin: 0 10px;
}

form.newreport_branch .row,
form.editreport_branch .row,
form.newreport_social .row,
form.editreport_social .row,
form.newreport_callcenter .row,
form.editreport_callcenter .row,
form.special_account_update .row {
    margin: 20px 0;
}

form.newreport_branch input,
form.newreport_social input,
form.newreport_social input,
form.editreport_social input,
form.newreport_callcenter input,
form.editreport_callcenter input {
    border: 1px solid #9e9e9e;
}

form.newreport_branch .input-field.col label,
form.editreport_branch .input-field.col label,
form.newreport_social .input-field.col label,
form.editreport_social .input-field.col label,
form.newreport_callcenter .input-field.col label,
form.editreport_callcenter .input-field.col label,
form.login-form .input-field>label,
form.filter-form .input-field>label,
form.change_password .input-field>label,
form.special_account_update .input-field.col label {
    left: 1.2rem;
    top: -0.15rem;
}

form.filter-form .input-field.col>input[type="text"],
form.filter-form .input-field.col>select,
form.filter-form .input-field.col>.select-wrapper>input[type="text"] {
    border: 1px solid #9e9e9e;
}

form.filter-form .input-field>label {
    top: -6px;
}

form.filter-form .input-field:nth-child(1)>label {
    left: .75rem;
}

form.filter-form .input-field:nth-child(1)>label.active {
    left: 0;
}

form.filter-form .input-field>label.active {
    left: 10px;
    font-size: 16px;
}

form.login-form .input-field.col input[type="text"] {
    border: 1px solid #9e9e9e;
}

form.newreport_branch .input-field>label.active,
form.editreport_branch .input-field>label.active,
form.newreport_social .input-field>label.active,
form.editreport_social .input-field>label.active,
form.newreport_callcenter .input-field>label.active,
form.editreport_callcenter .input-field>label.active,
form.change_password .input-field>label.active,
form.special_account_update .input-field>label.active {
    top: -10px;
    font-size: 16px;
    left: 10px;
}

form.login-form .input-field>label.active {
    top: -5px;
    font-size: unset;
    left: 10px;
}

.datepicker-table td.is-selected {
    background-color: #4db848;
    color: #ffffff;
}

table.list-authen thead tr:nth-child(1),
table.admin-table thead tr:nth-child(1) {
    background: rgba(97, 187, 70, 0.2);
    color: #4DB848;
    border: 1px solid #4DB848 !important;
}

table thead tr th input[type="checkbox"]+span:not(.lever):before,
table tbody tr td input[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid #ee6e73;
    margin-top: 5px;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid #ee6e73;
}

a.logout {
    color: rgba(255, 0, 0, 0.514);
}

table tbody tr td {
    border: 1px dotted #4db848;
}

table tbody tr td a {
    color: rgb(0 0 0 / 67%);
}

table tbody tr.read-items td {
    font-weight: lighter;
}

table tbody tr.unread-items td {
    font-weight: bold;
}

table.report-list tbody tr {
    cursor: pointer;
}

table.report-list tbody tr.pagination,
table.report-list tbody tr.pagination>td {
    color: #4db848;
    border: none;
    border-top: 1px solid #4db848!important;
    padding-top: 0.5rem;
}

.pagination li.disabled.active>a {
    color: #ffffff;
}

.pagination li a {
    font-size: 1rem;
}

.pagination li a:hover,
.pagination li a:focus {
    color: #ee6e73;
}

tr.pagination td ul.pagination li {
    border-radius: 50%;
}

div.view-grid-col .result {
    background-color: #ee6e7298;
    color: #ffffff;
}

.center-container div.status-row {
    height: 50px;
    margin: 0;
    padding: 0;
}

#read-unread.dropdown-content {
    width: 150px !important;
    padding: 5px 0 !important;
}

button.btn-export-excel,
button.btn-export-excel:hover,
button.btn-export-excel:focus,
button#btn_sp_export,
button#btn_sp_export:hover,
button#btn_sp_export:focus {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    color: #4db848;
    border: none;
}

#btn_regional_branch_filter,
.btn-primary.btn-addnew,
.btn-primary.btn-edit-staff,
.btn-report,
button#btn-export-service-checking,
button#btn-truncate-service-checking {
    background: 0 0;
    background-color: #fff;
    box-shadow: none;
    color: #4db848;
    border: 1px solid #4db848;
    margin-left: 5px;
    padding: 1px 10px;
}

.btn-primary.btn-addnew:focus,
.btn-primary.btn-addnew:hover,
.btn-primary.btn-edit-staff:focus,
.btn-primary.btn-edit-staff:hover,
a.btn-report:focus,
a.btn-report:hover,
button#btn-export-service-checking:focus,
button#btn-export-service-checking:hover,
button#btn-truncate-service-checking:focus,
button#btn-truncate-service-checking:hover,
button#btn_regional_branch_filter:focus,
button#btn_regional_branch_filter:hover {
    background-color: #4db848;
    color: #fff;
}

.btn:focus,
.btn:hover {
    background-color: #4db848;
    box-shadow: none;
}

form.search-report-form #search_date,
form.search-report-form input[type=text]:not(.browser-default) {
    border: 1px solid #9e9e9e;
    margin-top: 1px;
    height: 30px;
}

form.search-report-form .select-wrapper input {
    background: 0 0;
    border: 1px solid #9e9e9e;
    height: 30px;
}

@media only screen and (min-width:1360px) {
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}