/* ===================================================================================
 *
 * Datepicker with style and language customized to any language!
 * Custom Example - Language Portuguese (Brazil) and orange theme
 * Visit: http://materializecss.com/ 
 * 
 * Author: Frederico S. Rocha
 * Contact: @fredsrocha
 * License: The MIT License (MIT)
 *
 * ===================================================================================
 */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

table.list-authen tbody tr td input[type=text]:not(.browser-default) {
    padding: 1px;
    height: 1.5em;
    margin: 0;
    width: 90%;
}

table.list-authen tbody tr td input:not([type])[readonly="readonly"],
table.list-authen tbody tr td input[type=text]:not(.browser-default):disabled,
table.list-authen tbody tr td input[type=text]:not(.browser-default)[readonly="readonly"] {
    border-bottom: 1px solid rgba(97, 187, 70, 1);
}

table.list-authen tbody tr td input[type=text]:not(.browser-default) {
    border: 1px solid #4DB848;
}

.container {
    background: rgba(255, 255, 255, .8);
    padding: 0;
    border: 1px solid rgba(97, 187, 70, 1);
}

i.material-icons.gold {
    color: #f2b01d;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
    text-transform: capitalize;
}


/* .container .row:nth-child(3) {
    padding: 0;
    margin-bottom: 0;
} */

footer.page-footer,
footer.page-footer .footer-copyright {
    background: transparent;
    padding: 0 10px;
}

.container form .row {
    padding: 15px;
    margin: 15px 0;
}

.picker {
    outline: none;
}


/* Optional feature */


/* Header - Day of the week */

.picker__weekday-display {
    background-color: rgb(236, 30, 30);
    font-weight: 600;
}


/* Body - Today info */

.picker__date-display {
    background-color: rgb(121, 134, 203);
}


/* Buttons of actions */

.picker__nav--prev:hover {
    background-color: #fff3e0;
}

.picker__nav--next:hover {
    background-color: #fff3e0;
}

.picker__nav--prev:before {
    border-left: 0;
    border-right: 0.75em solid #0F74BD;
}

.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid #0F74BD;
}

.picker__today {
    color: rgb(121, 134, 203);
}

.picker__clear {
    /* If you want to customize */
}

.picker__close {
    color: #ee6e73;
}

.btn-flat.picker__today:active {
    background-color: #fff3e0;
}

.btn-flat.picker__close:active {
    background-color: #fff3e0;
}

.btn-flat.picker__clear:active {
    background-color: #fff3e0;
}


/* Select months of the year */

.picker__select--month.browser-default {
    display: inline;
    background-color: #FFFFFF;
    width: 34%;
    border: none;
    outline: none;
}


/* Every month of the year except: today */

.picker__day {
    /* If you want to customize */
}

.picker__day:hover {
    /* If you want to customize */
}

.picker__day--infocus:hover {
    color: #f57c00;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    color: #F5F4F3;
    font-weight: 700;
}

.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
    color: #f57c00;
}


/* Today */

.picker__day.picker__day--infocus.picker__day--today.picker__day--selected.picker__day--highlighted {
    background-color: transparent;
}

.picker__day.picker__day--today {
    color: #4DB848;
    font-weight: 700;
}

html,
body,
select,
input,
textarea,
label,
button {
    font-family: "Khmer OS Content", Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

table.list-authen tbody tr td input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #4DB848;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.list-authen tbody tr td table.list-authen tbody tr td input[type=text]:not(.browser-default) {
    padding: 1px;
    height: 2em;
    margin: 0;
}

table.list-authen tbody tr td input[type=text]:not(.browser-default) {
    border: 1px solid #4db848;
}

table.list-authen tbody tr td input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #4DB848;
}

.input-field label,
table thead tr th span {
    color: rgba(0, 0, 0, 0.87);
}

.button-wrapper a.right {
    margin: 0 10px;
}

.prefix.rejected {
    color: #ee6e73;
    background-color: #ee6e73;
}

.material-icons.active {
    color: rgba(97, 187, 70, 1);
}

.material-icons.disactive {
    color: rgb(236, 30, 30);
}

nav.nav {
    width: 100%;
    margin: 0 auto;
}

nav.nav,
div.footer-wrapper {
    background-color: #4DB848;
    box-shadow: none;
}

div.footer-copyright {
    padding: 0 10px;
}

footer.page-footer {
    margin: 0 auto;
    padding-top: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: lighter;
    font-size: 2rem;
}

ul.side-nav {
    background-color: #f5f5f5;
    border: 1px solid #EEE;
    color: #4DB848;
}

table.responsive-table thead tr th,
table tbody tr td,
table tbody tr th {
    padding: 0 10px;
    line-height: 2;
}

nav.nav-main {
    background-color: transparent;
    padding: 0;
    height: auto;
    overflow: hidden;
    box-shadow: 1px 0 2px rgba(97, 187, 70, 0.3);
    line-height: 35px;
}

.breadcrumb,
.breadcrumb:before {
    color: #4DB848;
}

.breadcrumb:last-child {
    color: rgba(0, 0, 0, .7);
}

table tbody tr td {
    border: 1px dotted #4DB848;
}

.row .col.form-wrapper {
    padding: 5em 15px;
}

ul.pagination {
    padding: 0;
    margin: 0;
}

table.highlight thead tr:nth-child(1) th,
table.highlight thead tr:nth-child(2) th {
    padding: 8px 5px;
}

table.highlight thead tr th,
table.highlight thead tr td {
    text-align: center;
}

table.highlight thead tr:nth-child(2) th:nth-child(1) {
    width: 3%;
}

table.highlight thead tr:nth-child(2) th:nth-child(2) {
    width: 30%;
}

table.highlight thead tr:nth-child(2) th:nth-child(3) {
    width: 15%;
}

table.highlight thead tr:nth-child(2) th:nth-child(4) {
    width: 10%;
}

table.highlight thead tr:nth-child(2) th:nth-child(5) {
    width: 10%;
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%;
}

table.highlight thead tr:nth-child(2) th:nth-child(6) {
    width: 10%;
}

table.highlight tbody tr.list-row td:nth-child(4),
table.highlight tbody tr.list-row td:nth-child(5),
table.highlight tbody tr.list-row td:nth-child(6) {
    text-align: center;
}


/* 
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #4DB848;
    color: #4DB848;
    padding: 0 5px;
} */

ul.dropdown-content.select-dropdown {
    top: 0 !important;
}

.btn-pdf,
.select-wrapper span.caret {
    color: #4DB848 !important;
}

.select-wrapper span label {
    color: rgba(0, 0, 0, 0.87);
}

table.highlight thead tr:nth-child(2) td label,
[type="checkbox"]+label {
    color: rgba(0, 0, 0, 0.87);
    height: 16px;
}

table thead tr th input[type="checkbox"]+span:not(.lever):before,
table tbody tr td input[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid #ee6e73;
    margin-top: 0;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 1px solid #ee6e73;
}

[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label [type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 16px;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form#posm_head_form [type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #4DB848 !important;
    border-bottom: 2px solid #4DB848 !important;
}

table.highlight tfoot tr td:last-child {
    text-align: center;
}

.centered {
    text-align: center;
}

.card .card-title {
    font-size: 2rem;
}

table.highlight tbody tr td.detail {
    cursor: pointer;
}

.progress {
    background-color: #F2B01D;
}

#posm_head_form .progress .indeterminate {
    background-color: #4DB848;
    padding: 0 1rem;
    margin-top: 1.2rem;
}

.progress .indeterminate,
.btn-success {
    background-color: #4DB848;
    padding: 0 1rem;
}

.btn:hover,
.btn-warning {
    background-color: #ee6e73;
}

.prefix.cancel {
    color: #ee6e73;
}

.autocomplete-content {
    position: absolute;
}

div.in-progress {
    color: #F2B01D;
}

div.approved,
.approved {
    color: #4DB848;
}

div.rejected,
.rejected {
    color: #ee6e73;
}

.material-tooltip .backdrop {
    background: rgba(10, 10, 10, 0.4);
    color: #4DB848;
}


/* .btn-excel {
    color: #4DB848;
} */

.dropdown-content li {
    min-height: 30px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 2px 5px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: rgba(0, 0, 0, 0.87);
}

.dropdown-content li:hover {
    background: transparent;
    color: #4DB848;
}

.dropdown-content li:hover span {
    color: #4DB848;
}

.dropdown-content li:hover a {
    color: #4DB848;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border: 1px solid #4DB848;
    padding-top: 5px;
}

.btn-pdf,
span.caret {
    color: #ee6e73 !important;
}

ul.dropdown-content li.active span {
    color: #4DB848;
}

ul.welcome-message {
    color: #4DB848;
}

a.profile-seperate:hover {
    color: red;
}

table tr td.label {
    font-weight: bold;
    color: #4DB848;
}

table tr td.data {
    color: #FFFFFF;
}

table.bordered>thead>tr,
table.bordered>tbody>tr {
    border-bottom: 0;
}

table thead tr th:last-child() {
    background: rgba(97, 187, 70, 0.2);
    color: #4DB848;
    border: 1px solid #4DB848 !important;
}

.timepicker-container .timepicker-digital-display,
.timepicker-container .datepicker-date-display {
    background: rgba(75, 184, 72, 1);
}

.datepicker-container .datepicker-date-display .date-text {
    font-size: 1.8rem;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.timepicker-clear,
.timepicker-close {
    color: #4DB848;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: #4DB848;
}

.timepicker-canvas line {
    stroke: #4DB848;
    stroke-width: 4;
    stroke-linecap: round;
}

table tbody tr.not-ready {
    font-weight: bold;
}

ul li.badge-message:hover,
ul li.badge-message a:hover {
    background: transparent;
}

select.browser-default {
    background: transparent;
    border: 1px solid #9e9e9e;
}

input#beginDate,
input#endDate {
    border-bottom: 1px solid rgba(97, 187, 70, 0.5);
}

#logo-container {
    overflow: hidden;
    display: block;
    float: left;
}

.text-right {
    text-align: right!important;
}

#logo-container h2 {
    float: right;
    color: #4db848;
    font-weight: bold;
}

div.nav-wrapper .brand-logo {
    padding: 0 8px;
}

input[name="buildDate"]:focus.invalid~label:after,
input[name="buildDate"].invalid~label:after {
    content: attr(data-error);
    color: #ee6e73;
    opacity: 1;
}

a.waves-effect.active {
    background-color: #ee6e73;
}

input[name="buildDate"]:focus~label:after,
input[name="buildDate"]~label:after {
    display: block;
    content: "";
    position: absolute;
    top: 36px;
    opacity: 0;
    white-space: pre;
    transition: .2s opacity ease-out, .2s color ease-out;
}

input[type=text].invalid~label:after {
    content: attr(data-error);
    color: #ee6e73;
    opacity: 1;
    position: absolute;
    top: 3em;
    white-space: nowrap;
    display: block;
}

.input-field label {
    font-size: 1em;
}

.input-field {
    margin-top: 3px;
}

.setting-button a,
.setting-button button {
    margin: 0 10px;
}

.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
    font-size: 20 1rem;
}

.select-dropdown {
    overflow-y: auto;
}

table.list-authen thead tr:nth-child(1),
table.admin-table thead tr:nth-child(1) {
    background: rgba(97, 187, 70, 0.2);
    color: #4DB848;
    border: 1px solid #4DB848 !important;
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
    background-color: #ee6e73;
}

.material-tooltip,
#toast-container>.toast {
    background-color: #fff!important;
    border: 1px solid #3d793a!important;
    color: #2c2a2a!important;
    max-width: 500px;
    line-height: 1.5;
    text-align: left;
    min-height: 10px;
    padding: 5px 10px;
}

#toast-container,
#toast-container>.toast {
    padding: 0 2px;
    right: 0;
}

.blink_me {
    animation: blinker 2.5s linear infinite;
    color: #ee6e73;
    display: block;
    margin: 10px auto;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}

table>tbody>tr:hover {
    background-color: rgba(255, 255, 255, .5);
}

table.authentication-form tbody tr {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /* IE 5-7 */
    filter: alpha(opacity=30);
    /* Netscape */
    -moz-opacity: 0.3;
    /* Safari 1.x */
    -khtml-opacity: 0.3;
    /* Good browsers */
    opacity: 0.3;
}

table.authentication-form>tbody>tr:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
}

table.authentication-form>tbody>tr td>span {
    display: block;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        height: 25px;
        line-height: 25px;
    }
}


/* label {
    text-align: left;
} */